<!-- Starts View Item Logs -->
<div class="modal fade modal-slide-in-form modal-slide-in second-step alert-logs-view-model"
    id="alert-logs-view-model-slide-in" style="z-index: 1090;">
    <div class="modal-dialog">
        <div class="modal-content overflow-hidden">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-header mb-1">
                <h5 class="modal-title" id="alert-logs-view-model-label">View Item Logs</h5>
            </div>
            <div class="modal-body flex-grow-1 p-0">
                <section class="item-logs">
                    <table class="datatables-basic table" id="alert-logs-view-table">
                        <thead>
                            <tr>
                                <th class="header-number">No</th>
                                <th class="header-action">Action</th>
                                <th class="header-description">Description</th>
                                <th class="header-type">Trigger By</th>
                                <th class="header-http-status">Http Status</th>
                                <th class="header-time">Time</th>
                                <th class="header-details">Details</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Ends View Item Logs -->