<div class="modal fade modal-slide-in-form modal-slide-in thired-step email-failures-details-view-modal"
    id="email-failures-details-view-modal-slide-in" style="z-index:1090">
    <div class="modal-dialog">
        <div class="modal-content overflow-hidden">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-header mb-1">
                <h5 class="modal-title" id="email-failures-details-view-modal-label">Resend Message</h5>
            </div>
            <div class="modal-body flex-grow-1 p-0">
                <section class="item-logs">
                    <div class="position-relative">
                        <pre id="email-failures-details-modal-body" class="p-1"></pre>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>