<div class="modal fade modal-slide-in-form modal-slide-in second-step publish-version-history-modal" id="publish-version-history-model-slide-in" data-backdrop="true" data-keyboard="true" style="z-index: 1080;">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            <div class="modal-header">
                <h5 class="modal-title" id="mapping-profile-modal-label">Publish History</h5>
            </div>
            <div class="modal-body flex-grow-1">
                <section class="mapping-profile-create">
                    <div class="row">
                        <div class="col-12 p-2 m-0">
                            <p class="mb-1"><strong>Version</strong></p>
                            <table id="version-history" class="table table-bordered mapping-profiles-history mb-2">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Version</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4">No Data</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="mt-1"><strong>Publish History</strong></p>
                            <table id="publish-history" class="table table-bordered mapping-profiles-history">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Version</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4">No Data</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>