<!-- Starts add-to-favourite model -->
<div class="modal fade modal-slide-in-form modal-slide-in second-middle-step reviewed-list-model"
    id="reviewed-list-slide-in" style="z-index: 1080;">
    <div class="modal-dialog">
        <div class="modal-content overflow-hidden">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-header mb-1">
                <h5 class="modal-title" id="reviewed-list-label">Review Comments</h5>
            </div>
            <div class="modal-body flex-grow-1">
                <section class="reviewed-list">
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="card">
                                <table class="table" id="reviewed-list-table">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Reviewed Date</th>
                                            <th>Comments</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Ends add-to-favourite model -->