<%
	let style = '';
	let body = '';
	let script = '';
%>

<% style = `<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css">` %>

<% body = `<div class="content-wrapper">
				<div class="content-header row mb-2">
					<div class="content-header-left col-md-9 col-12">
						<div class="row breadcrumbs-top">
							<div class="col-12">
								<h2 class="content-header-title float-left mb-0">Users</h2>
								<div class="breadcrumb-wrapper">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="/">Home</a>
										</li>
										<li class="breadcrumb-item">
											Users
										</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<div class="content-header-right col-md-3 col-12 text-right"></div>
				</div>
				<div class="content-body">
					<section class="users-listing">
						<div class="row">
							<div class="col-12">
								<div class="card">
									<table class="table" id="user-data-table">
										<thead>
											<tr>
												<th>No</th>
												<th>Name</th>
												<th>Title</th>
												<th>Email</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>` %>

<% script = `<script type="text/javascript" src="/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
		<script type="text/javascript" src="/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
		<script type="text/javascript" src="/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js"></script>
		<script type="text/javascript" src="/assets/js/users.js"></script>` %>

<%- include('layout', { title: `Users`, style, body, script }) %>